<!DOCTYPE html>
<html>
  <head>
    <title>OrderCook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <div class= "container">
      <div class = "header-content">
        <div class = "header-left">
          <h3><%=link_to "OrderCook", root_path, class:"title" %></h3>
        </div>
        <div class= "header-right">
          <%if user_signed_in? %>
            <%=link_to "ログアウト",destroy_user_session_path, method: :delete, class:"logout" %>
          <%else%>
            <%=link_to "ordercookの使い方",rooms_about_path, class:"top-about"%>
            <%=link_to "ログイン", new_user_session_path, class:"login" %>
            <%=link_to "登録", new_user_registration_path, class:"signin" %>
          <%end%>
        </div>
      </div>
    </div>
  </header>
    <%= yield %>
  </body>
</html>
